/.idea/
/AppointmentBooking.Presentation/obj
/AppointmentBooking.Application/obj
/AppointmentBooking.Domain/obj
/AppointmentBooking.Infrastructure/obj
/AppointmentBooking.Shared/obj
/AppointmentBooking.Presentation/bin
/AppointmentBooking.Application/bin
/AppointmentBooking.Domain/bin
/AppointmentBooking.Infrastructure/bin
/DoctorAppointmentManagement.Adapters/obj
/DoctorAppointmentManagement.Core/obj
/DoctorAppointmentManagement.Adapters/bin
/DoctorAppointmentManagement.Core/bin
/DoctorAvailability.Shared/obj
/DoctorAvailability.Data/obj
/DoctorAvailability.Business/obj
/DoctorAvailability.Presentation/obj
/DoctorAvailability.Shared/bin
/DoctorAvailability.Data/bin
/DoctorAvailability.Business/bin
/DoctorAvailability.Presentation/bin
/AppointmentBooking.Shared/bin
/App/bin
/App/obj
/Shared/bin
/Shared/obj
/App/Properties/launchSettings.json
/global.json